@import "../../../assets/styles/variables.scss";
.about {
  background-color: $main-color;
  padding-top: 90px;
  padding-bottom: 48px;
  text-align: center;
  color: $white-color;
  .content {
    width: 70%;
    margin: 0 auto;
    h6 {
      font-size: clamp(16px, 4vw, 19px);
      font-weight: 400;
      margin-bottom: 32px;
    }
    h2 {
      font-size: clamp(24px, 4vw, 57px);
      font-weight: 400;
      margin-bottom: 16px;
    }
    p {
      font-size: clamp(12px, 4vw, 16px);
      font-weight: 400;
    }
  }
}

@media (max-width: 922px) {
  .about {
    .content {
      width: 100%;
    }
  }
}
