<!-- <header class="navbar">
  <div class="container">
    <div routerLink="home" class="header-logo">
      <img src="../../../assets/images/Logo.png" alt="" />
    </div>
    <div class="header-menu">
      <p routerLink="home" routerLinkActive="active">Home</p>
      <p routerLink="about" routerLinkActive="active">About</p>
      <p routerLink="blog" routerLinkActive="active">Blog</p>
    </div>
  </div>
</header> -->

<!-- ======================== -->
<!-- ======================== -->
<!-- ======================== -->
<nav>
  <input type="checkbox" id="check" />
  <label for="check" class="checkbtn">
    <img src="../../../assets/images/bg1.png" alt="" />
  </label>
  <label class="logo"
    ><img src="../../../assets/images/Logo.png" alt=""
  /></label>
  <ul>
    <li><a routerLink="home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="about" routerLinkActive="active">About</a></li>
    <li><a routerLink="blog" routerLinkActive="active">Blog</a></li>
    <button>Log in</button>
  </ul>
</nav>
