<section class="connect-our-customers">
  <div class="container">
    <div class="left-side">
      <img src="../../../assets/images/offer1.png" alt="" />
    </div>
    <div class="right-side">
      <h3>
        We connect our customers with the best, and help them keep up-and stay
        open.
      </h3>
      <p>
        <img src="../../../assets/images/check.svg" /> We connect our customers
        with the best.
      </p>
      <p>
        <img src="../../../assets/images/check.svg" />Advisor success customer
        launch party.
      </p>
      <p>
        <img src="../../../assets/images/check.svg" />Business-to-consumer long
        tail.
      </p>
      <button>Start now</button>
    </div>
  </div>
  <!-- ====================================== -->
  <div class="container">
    <div class="right-side">
      <h3>
        We connect our customers with the best, and help them keep up-and stay
        open.
      </h3>
      <p class="shadow">
        <img src="../../../assets/images/check.svg" /> We connect our customers
        with the best.
      </p>
      <p class="shadow">
        <img src="../../../assets/images/check.svg" />Advisor success customer
        launch party.
      </p>
      <p class="shadow">
        <img src="../../../assets/images/check.svg" />Business-to-consumer long
        tail.
      </p>
    </div>
    <div class="left-side">
      <img src="../../../assets/images/offer2.png" alt="" />
    </div>
  </div>
</section>
