<section class="services">
  <div class="container">
    <p>Our Services</p>
    <h2>Handshake infographic mass market crowdfunding iteration.</h2>
    <div class="cards">
      <app-services-section-card
        [cardData]="{
          img: '../../../assets/images/service1.png',
          title: 'Cool feature title',
          desc: 'Learning curve network effects return on investment.'
        }"
      ></app-services-section-card>
      <app-services-section-card
        [cardData]="{
          img: '../../../assets/images/service2.png',
          title: 'Even cooler feature',
          desc: 'Learning curve network effects return on investment.'
        }"
      ></app-services-section-card>
      <app-services-section-card
        [cardData]="{
          img: '../../../assets/images/service3.png',
          title: 'Cool feature title',
          desc: 'Learning curve network effects return on investment.'
        }"
      ></app-services-section-card>
    </div>
  </div>
</section>
