<section class="blog">
  <div class="container">
    <p>Blog</p>
    <h2>Thoughts and words</h2>

    <div class="card">
      <div class="card-img">
        <img src="../../../assets/images/blog-hero.png" />
      </div>
      <div class="card-text">
        <p>Category <span>November 22, 2021</span></p>
        <h3>Pitch termsheet backing validation focus release.</h3>
        <div class="user">
          <img src="../../../assets/images/profile1.png" />
          <span>Chandler Bing</span>
        </div>
      </div>
    </div>
  </div>
</section>

<app-letes-news></app-letes-news>
