@import "../../../assets/styles/variables.scss";
.offer {
  padding-top: 90px;
  .container {
    .offer-img {
      width: 100%;
      margin-bottom: 32px;
      img {
        width: 100%;
      }
    }
    .offer-text {
      p {
        font-size: clamp(16px, 4vw, 33px);
        font-weight: 40px;
        color: $black-color;
        width: 60%;
      }
    }
  }
}
@media (max-width: 992px) {
  .offer {
    padding-top: 32px;
    .container {
      .offer-text {
        p {
          width: 100%;
        }
      }
    }
  }
}
