<footer>
  <div class="container">
    <div class="footer-left">
      <div class="div logo">
        <img src="../../../assets/images/black-logo.png" alt="" />
      </div>
      <p>
        Social media validation business model canvas graphical user interface
        launch party creative facebook iPad twitter.
      </p>
      <span>All rights reserved.</span>
    </div>
    <div class="footer-right">
      <div>
        <h4>Landings</h4>
        <p>Home</p>
        <p>Products</p>
        <p>Services</p>
      </div>
      <div>
        <h4>Company</h4>
        <p>Home</p>
        <p>Careers</p>
        <p>Services</p>
      </div>
      <div>
        <h4>Resources</h4>
        <p>Home</p>
        <p>Products</p>
        <p>Services</p>
      </div>
    </div>
  </div>
</footer>
