@import "../../../assets/styles/variables.scss";
.blog {
  text-align: center;
  padding-top: 90px;
  .container {
    .head {
      margin-bottom: 48px;
      p {
        font-size: clamp(16px, 4vw, 19px);
        font-weight: 400;
        color: $gray-color;
        margin-bottom: 16px;
      }
      h2 {
        font-size: clamp(24px, 4vw, 48px);
        font-weight: 400;
        color: $black-color;
      }
    }
    .cards {
      text-align: start;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 32px;
      .card {
        width: 300px;
        .card-img {
          width: 100%;
          img {
            width: 100%;
          }
        }
        .card-text {
          .first-text {
            font-size: clamp(12px, 4vw, 16px);
            font-weight: 700;
            color: $black-color;
            margin-bottom: 16px;

            span {
              font-size: clamp(8px, 4vw, 14px);
              font-weight: 400px;
              color: $gray-color;
            }
          }
          .second-text {
            font-size: clamp(12px, 4vw, 16px);
            font-weight: 400px;
            color: $black-color;
            margin-bottom: 16px;
          }
          .card-user {
            display: flex;
            align-items: center;
            img {
              margin-right: 16px;
            }
            p {
              font-size: clamp(8px, 4vw, 14px);
              font-weight: 400px;
              color: $gray-color;
            }
          }
        }
      }
    }
  }
}
